nav .menu-header a { padding:0 19px 2px; font-size: 20px; letter-spacing:0px; }

a.viewmobile { position: absolute; left: 170px; top: 12px; font:11px/11px Arial, Helvetica, sans-serif; text-decoration:none; color:#666666; display: block;}
